.payment-wiget {
  width: 300px;
  height: 200px;
}

.card {
  width: 45px;
  height: 20px;
}

.hide {
  opacity: 0.3;
}

.validate-input {
  height: 20px;
  width: 190px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.validate-form {
  width: 400px;
}

.validate-button {
  border-radius: 5px;
  background-color: orange;
  color: white;
  border: none;
  height: 25px;
  transition: all 0.3s;
}

.validate-button:hover {
  background: grey;
}